@charset "utf-8";
* {
  margin:0;
  padding:0;
}

html {
  height:100%;
}

body {
  margin:0; 
  padding:0; 
  font:100% Tahoma, Geneva, sans-serif;
  background:#fff none repeat;
  color:#000;
}
  
img {
  border:none;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color:#000;
  font-weight:normal;
}
  
p {
  line-height:1.5em;
  padding:5px 0;
}
  
ul {
  padding:0;
}
  
a:link {
  color:#800000;
  text-decoration:none;
}
  
a:visited {
  color:#b00000;
  text-decoration:none;
}
  
a:hover {
  color:#c30000;
  text-decoration:underline;
}
  
#container {
  width:100%;  
  background:none #fff; 
  margin:0 auto;
}
  
/* Header Begin */
  
#header {
  height:175px;
  background:#036;
  background:-moz-linear-gradient(top,  rgba(0,51,102,1) 0%, rgba(78,134,183,1) 72%, rgba(85,142,191,0.7) 78%, rgba(125,185,232,0) 100%); /* FF3.6+ */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,51,102,1)), color-stop(72%,rgba(78,134,183,1)), color-stop(78%,rgba(85,142,191,0.7)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top,  rgba(0,51,102,1) 0%,rgba(78,134,183,1) 72%,rgba(85,142,191,0.7) 78%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top,  rgba(0,51,102,1) 0%,rgba(78,134,183,1) 72%,rgba(85,142,191,0.7) 78%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
  background:-ms-linear-gradient(top,  rgba(0,51,102,1) 0%,rgba(78,134,183,1) 72%,rgba(85,142,191,0.7) 78%,rgba(125,185,232,0) 100%); /* IE10+ */
  background:linear-gradient(top,  rgba(0,51,102,1) 0%,rgba(78,134,183,1) 72%,rgba(85,142,191,0.7) 78%,rgba(125,185,232,0) 100%); /* W3C */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
  border-bottom:solid 2px #036;
}

.header-inner {
  width:98%;
  margin:0 auto;
  position:relative;
}
  
#header img {
  float:left;
  padding:10px 15px;
  border:none;
}

/*Menu*/

.moduletable_menu {
  height:172px;
  position:relative;
  width:515px;
  float:right;
}
  
#header ul {
  position:absolute;
  right:0;
  top:14px;
  list-style-type:none;
  font:1.2em 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  text-transform:uppercase;
}
  
#header li {
  float:left;
}
  
#header ul a:link,
#header ul a:visited {
  text-decoration:none;
  font-weight:bold;
  padding:5px 10px 3px;
  margin:0 1px;
  background:rgba(255,255,255,0.6);
  border-radius:2px;
  -moz-border-radius:2px;
  color:rgba(0,51,102,0.8);
}
  
#header ul a:hover {
  color:rgba(0,51,102,0.9);
  background:rgba(255,255,255,1);
}
  
#header li.active a:link,
#header li.active a:visited {
  color:rgba(0,51,102,0.9);
  background:rgba(255,255,255,1);
}
  
#header li.active a:hover {
  color:rgba(0,51,102,1);
}
  
/* End Header */

/* Begin Sidebars */

#left,
#right {
  padding:0 1% 20px;
  width:20%;
  min-width:200px;
}

#left {
  float:left; 
}

#right {
  float:right; 
  padding-top:10px; 
}

#left,
#right,
#main,
#mainwithright,
#mainwithleft {
  float:left;
}
  
.customabout {
  padding:16px;
  margin:10px 0 20px;
  background:rgba(0,51,102, 0.1);
  border:solid 2px rgba(0,51,102, 0.4);
  border-radius:5px;
  -moz-border-radius:5px;
  box-shadow:2px 2px 2px rgba(0,0,0,0.3);
  -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
  clear:both;
}
  
.customabout h3 {
  text-decoration:underline;
  font-weight:bold;
}
  
/* End Sidebars */
  
/* Begin Breadcrumbs */

.breadcrumbs {
  padding:0 20px;
}
  
.breadcrumbs span.showHere,
.moduletable h3 {
  display:none; /* removes the title and "Show Here" */
}
  
.breadcrumbs span {
  font:italic 90%/0.8em Tahoma, Geneva, sans-serif;
}

/* End Breadcrumbs */

#wrapper {
  margin-top:1em;
}
  
#mainwithright,
#mainwithleft,
#main {
  padding:0 1%;
}

#mainwithright,
#mainwithleft {
  width:76%;
}
  
p.img_caption {
  font:80% italic;
}

div.img_caption {
  margin:0.5em 1em;
}

img.caption {
  border:solid 1px #888;
  max-width:300px;
  width:100%;
  min-width:100px;
  float:right;
}
  
/* About & Blog Page */
  
div.item-page,
div.category-desc,
div.leading-0,
div.leading-1,
div.leading-2,
div.leading-3,
div.leading-4,
div.leading-5,
div.leading-6,
div.leading-7,
div.leading-8,
div.leading-9,
div.leading-10 {
  padding:16px 16px 30px;
  margin:10px 0 20px;
  background:rgba(0,51,102, 0.1);
  border:solid 2px rgba(0,51,102, 0.8);
  border-radius:5px;
  -moz-border-radius:5px;
  box-shadow:2px 2px 2px rgba(0,0,0,0.3);
  -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
}
  
/* End About & Blog Page */

/* Services Page */

.item-page ul{
  margin:5px 30px;
}

/* End Services Page */

/* Contact Page */
  
div.contact h3, /* Section names */
div.jicons-icons, /* "i" icons */
span.jicons-icons /* other cutesy icons */ {
  display:none;
}
  
div.contact p {
  margin:10px 0;
}
  
div.contact-image {
  float:right;
  margin:10px 0 15px;
  border:solid 1px #888;
}

div.contact-form {
  margin-top:20px;
}

#contact-form fieldset {
  width:672px;
  display:block;
  padding:20px 10px;
  margin:0;
  color:#888;
  background:-moz-linear-gradient(top, rgba(0,51,102,0.3) 0%, rgba(161,219,255,0.3) 100%); /* FF3.6+ */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,51,102,0.3)), color-stop(100%,rgba(161,219,255,0.3))); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top, rgba(0,51,102,0.3) 0%,rgba(161,219,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top, rgba(0,51,102,0.3) 0%,rgba(161,219,255,0.3) 100%); /* Opera 11.10+ */
  background:-ms-linear-gradient(top, rgba(0,51,102,0.3) 0%,rgba(161,219,255,0.3) 100%); /* IE10+ */
  background:linear-gradient(top, rgba(0,51,102,0.3) 0%,rgba(161,219,255,0.3) 100%); /* W3C */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
  border:solid 3px rgb(0,51,102);
  border-radius:5px;
  color:#000;
  font-weight:normal;
  -moz-border-radius:5px;
  box-shadow:2px 2px 2px rgba(0,0,0,0.3);
  -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
}
  
#contact-form dl {
  margin:0;
}

#contact-form label {
  width:6em;
  margin-top:0.5em;
  margin-right:1em;
  float:left;
  text-align:right;
  clear:both;
}
  
#contact-form input,
#contact-form textarea {
  width:530px;
  margin-top:0.5em;
  float:left;
}
  
#contact-form button {
  width:auto;
  float:none;
  margin-left:5.5em;
  margin-top:1em;
}
  
#contact-form input#jform_contact_email_copy {
  width:0.5em;
  margin-top:1.5em;
}
  
/* End Contact Page */

/* Pagination Page */

.items-more h3 {
  font-size:0.9em;
}
  
.items-more a {
  display:block;
}

.items-more ol {
  padding:0;
  list-style-type:none;
  font:0.8em 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  text-transform:capitalize;
  float:left;
}
  
.items-more li {
  float:left;
  padding:5px;
}
  
.items-more ol a:link,
.items-more ol a:visited {
  text-decoration:none;
  font-weight:bold;
  border-bottom:solid 2px rgba(0,51,102,0.8);
  color:rgba(0,51,102,0.8);
}
  
.items-more ol a:hover {
  color:#036;
  border-bottom:solid 2px #036;
}
  
.items-more li.active a:link,
.items-more li.active a:visited {
  color:#036;
  border-bottom:solid 2px #036;
}
  
.items-more li.active a:hover {
  color:rgba(0,51,102,1);
}

.pagination, .item-page .pagenav {
  clear:left;
  display:none;
}
  
.blog .pagination {
  display:block;
}

.blog .pagination ul {
  margin:0;
  padding:0;
  list-style-type:none;
  font:0.8em Tahoma, Geneva, sans-serif;
  text-transform:uppercase;
  float:left;
}
  
.blog .pagination ul li {
  float:left;
  padding:0.5em 1em 0.5em 0;
}

/* End Pagination Page */

/* Lists in content area */

#main .items-leading ul, #mainwithright .items-leading ul, #mainwithleft .items-leading ul {
  list-style:circle outside none;
  margin:0.5em 0 0.5em 2em;
}
  
#main .items-leading ul li, #mainwithright .items-leading ul li, #mainwithleft .items-leading ul li {
  margin:0.3em 0 0;
}

/* End Lists */

/* Footer */
#footer {
  padding:10px 20px; 
  background:#036;
  color:#fff;
}
  
#footer p {
  margin:0; 
  padding:10px 0; 
}
  
/* End Footer */
  
.fltrt { 
  float:right;
  margin-left:8px;
}
  
.fltlft { 
  float:left;
  margin-right:8px;
}

.clear {
  clear:both;
}
  
#header .joomla_sharethis {
  position:absolute;
  top:52px;
  right:0;
}

.twtr-widget,
.contact-image,
img.caption {
  border-radius:5px;
  -moz-border-radius:5px;
  box-shadow:2px 2px 2px rgba(0,0,0,0.3);
  -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.3);  
}

.twtr-timeline {
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
}
  
.twtr-doc {
  min-width:200px !important;
  width:20% !important;
  float:right;
}

  
.accordionfaq div img { 
  border:1px solid #003366;
  float:left;
  margin:4px;
  width:290px;
}
  
div.accordionfaqitem {
  height:auto
}
  
.accordionfaq div.accordionfaqitem p {
  padding:0 4px;
}
  
/* Lightbox */

/* line 6, ../sass/lightbox.sass */
#lightboxOverlay {
  position:absolute;
  top:0;
  left:0;
  z-index:9999;
  background-color:black;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity:0.85;
  display:none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
  position:absolute;
  left:0;
  width:100%;
  z-index:10000;
  text-align:center;
  line-height:0;
  font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight:normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  width:auto;
  height:auto;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border:none;
}

/* line 30, ../sass/lightbox.sass */
.lb-outerContainer {
  position:relative;
  background-color:white;
  *zoom:1;
  width:250px;
  height:250px;
  margin:0 auto;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  border-radius:4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content:"";
  display:table;
  clear:both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
  padding:10px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
  position:absolute;
  top:40%;
  left:0%;
  height:25%;
  width:100%;
  text-align:center;
  line-height:0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container > .nav {
  left:0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
  outline:none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width:49%;
  height:100%;
  background-image:url("data:image/gif;base64,AAAA");
  /* Trick IE into showing hover */
  display:block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
  left:0;
  float:left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
  right:0;
  float:right;
}

/* line 81, ../sass/lightbox.sass */
.lb-prev:hover {
  background:url(../images/prev.png) left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.lb-next:hover {
  background:url(../images/next.png) right 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
  margin:0 auto;
  padding-top:5px;
  *zoom:1;
  width:100%;
  -moz-border-radius-bottomleft:4px;
  -webkit-border-bottom-left-radius:4px;
  -ms-border-bottom-left-radius:4px;
  -o-border-bottom-left-radius:4px;
  border-bottom-left-radius:4px;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px;
  -ms-border-bottom-right-radius:4px;
  -o-border-bottom-right-radius:4px;
  border-bottom-right-radius:4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content:"";
  display:table;
  clear:both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
  padding:0 10px;
  color:#bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
  width:85%;
  float:left;
  text-align:left;
  line-height:1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size:13px;
  font-weight:bold;
  line-height:1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number {
  display:block;
  clear:left;
  padding-bottom:1em;
  font-size:11px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close {
  width:35px;
  float:right;
  padding-bottom:0.7em;
  outline:none;
}
/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor:pointer;
}