/* line 4, ../sass/module.scss */
.button-resize:hover {
  -webkit-animation: resizer .5s linear;
  -moz-animation: resizer .5s linear;
  -o-animation: resizer .5s linear;
  animation: resizer .5s linear;
}

@-webkit-keyframes resizer {
  /* line 12, ../sass/module.scss */
  0%, 100% {
    -webkit-transform: scale(1);
  }

  /* line 13, ../sass/module.scss */
  50% {
    -webkit-transform: scale(1.4);
  }
}

@-moz-keyframes resizer {
  /* line 17, ../sass/module.scss */
  0%, 100% {
    -moz-transform: scale(1);
  }

  /* line 18, ../sass/module.scss */
  50% {
    -moz-transform: scale(1.4);
  }
}

@-o-keyframes resizer {
  /* line 22, ../sass/module.scss */
  0%, 100% {
    -o-transform: scale(1);
  }

  /* line 23, ../sass/module.scss */
  50% {
    -o-transform: scale(1.4);
  }
}

@keyframes resizer {
  /* line 27, ../sass/module.scss */
  0%, 100% {
    transform: scale(1);
  }

  /* line 28, ../sass/module.scss */
  50% {
    transform: scale(1.4);
  }
}

/* line 35, ../sass/module.scss */
header .logo .img-logo {
  width: 100%;
  max-width: 100%;
  height: auto;
}
/* line 43, ../sass/module.scss */
header .logo a:link,
header .logo a:visited,
header .logo a:hover {
  background: none;
}
/* line 52, ../sass/module.scss */
header .top-nav li {
  float: left;
  padding: 0 5px;
}
/* line 57, ../sass/module.scss */
header .top-nav li a:link,
header .top-nav li a:visited {
  color: #CC2014;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 700;
  line-height: 240%;
}
/* line 64, ../sass/module.scss */
header .top-nav li a:link .tnav-contact,
header .top-nav li a:visited .tnav-contact {
  line-height: 140%;
}
/* line 69, ../sass/module.scss */
header .top-nav li a:hover {
  background-color: #f5f5f5;
}

/* line 80, ../sass/module.scss */
.content .page-title {
  font-weight: 700;
  line-height: 150%;
  font-size: 200%;
  margin-bottom: .5em;
}

/* line 92, ../sass/module.scss */
footer .bot-contact .social {
  padding: 10px;
}
/* line 96, ../sass/module.scss */
footer .bot-contact a:link {
  margin: 10px;
  font-size: 200%;
}
/* line 109, ../sass/module.scss */
footer .theme-change .theme-drupal,
footer .theme-change .theme-joomla,
footer .theme-change .theme-wp {
  float: left;
  width: 29%;
  height: 20px;
  margin: 0 2%;
}
