/* line 4, ../sass/module.scss */
.button-resize:hover {
  -webkit-animation: resizer .5s linear;
  -moz-animation: resizer .5s linear;
  -o-animation: resizer .5s linear;
  animation: resizer .5s linear;
}

@-webkit-keyframes resizer {
  /* line 12, ../sass/module.scss */
  0%, 100% {
    -webkit-transform: scale(1);
  }

  /* line 13, ../sass/module.scss */
  50% {
    -webkit-transform: scale(1.4);
  }
}

@-moz-keyframes resizer {
  /* line 17, ../sass/module.scss */
  0%, 100% {
    -moz-transform: scale(1);
  }

  /* line 18, ../sass/module.scss */
  50% {
    -moz-transform: scale(1.4);
  }
}

@-o-keyframes resizer {
  /* line 22, ../sass/module.scss */
  0%, 100% {
    -o-transform: scale(1);
  }

  /* line 23, ../sass/module.scss */
  50% {
    -o-transform: scale(1.4);
  }
}

@keyframes resizer {
  /* line 27, ../sass/module.scss */
  0%, 100% {
    transform: scale(1);
  }

  /* line 28, ../sass/module.scss */
  50% {
    transform: scale(1.4);
  }
}

/* line 32, ../sass/module.scss */
.bot-contact .social {
  padding: 10px;
}
/* line 36, ../sass/module.scss */
.bot-contact .social a:link {
  margin: 10px;
  font-size: 200%;
}

/* line 49, ../sass/module.scss */
.theme-change .theme-drupal,
.theme-change .theme-joomla,
.theme-change .theme-wp {
  float: left;
  width: 29%;
  height: 20px;
  margin: 0 2%;
}
